header{    
    box-shadow: 0 0 0.3em #ccc;
    padding: 25px;
    height: 30px;
}
header #c-maxwidth-header{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}
header #c-header-logo{
    width: 35%;
}
header nav{
    width: 65%;
    text-align: end;
}
header nav li{
    list-style-type:none;
}
header nav li a{
    margin: 0px 15px;
    cursor: pointer;
}
header nav li .login-btn-nav-header{
    background-color: var( --primaryColorGlobal );
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}