@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    align-items: center;
}

.bd-masthead{
    /*background: #74ebd5;
    background: -webkit-linear-gradient(to right, #58AF9C, #acb6e5);
    background: linear-gradient(to right, #58AF9C, #acb6e5);*/
    background: rgb(238,174,202);
    background: linear-gradient(0deg, /*rgba(238,174,202,1)*/ #58af9caf 0%, rgba(148,187,233,0.5) 75%);
}
header{
    box-shadow: 0 0 0.8em #252525;
}
#warning-new-visitor{
    font-weight: bold;
    font-weight: 400;
    font-weight: bolder;
}
#warning-new-visitor #badge-warning{
    background-color: #ffe484;
    padding: 10px;
    border-radius: 12px;
    font-weight: bolder;
    box-shadow: 0 0 0.3em #727272;
    font-size: 0.7em;
}
#i-mail-sign-up{
    background-color: #ECE9ED;
    border-radius: 5px;
    border: solid;
    border-width: 0.1em;
    padding: 10px; 
    color: #252525;
    width: 100%;
}
#i-mail-sign-up::placeholder{
    color: #252525;
}
#link-to-sign-up{
    background-color: #f0c014;
    padding: 13px;
    border-radius: 12px;
    font-weight: bolder;
    box-shadow: 0 0 0.3em #25252598;
    cursor: pointer;
    display: block;
}
#link-to-sign-up:hover{
    background-color: #ffe484;
}

#title-page{
    font-size: 4rem; 
    color: black;
}
#sub-title-page{
    font-size: 1.5em;
}

.desktop-center{
    text-align: center;
}

.cta-button{
    display: block;
    width: 75%;
    margin: auto;
    background-color: rgb(29, 202, 29);
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 15px;
    margin-top: 35px;
    max-width: 600px;
}

#c-all-content-site{
    background-color: #e9e9e9;
    box-shadow: 0 0 0.1em #636363;
    padding: 15px;
    max-width:900px;
    border-radius: 12px;
    margin-top: 40px;
}
#c-all-content-site li{
    margin-top: 20px;
}

@media screen and ( max-width: 768px ){
    #i-mail-sign-up{
        width: 100%;
    }
    #title-page{
        font-size: 2rem;
    }
    #sub-title-page{
        font-size: 0.9em;
    }
    .desktop-center{
        text-align: start;
    }
    #link-to-sign-up{
        text-align: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    #i-mail-sign-up{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}