@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    height: calc( 100vh - 80px );
}

/* Nav menu */
#painel-controller{
    border: solid;
    border-width: 0px 1px 0px 0px;
    width: 20%;
    border-color: #ccc;
}
#painel-controller .list-nav-menus{
    height: 90%;
    list-style-type: none;
    padding: 0px;
    overflow-y: auto;
}
#painel-controller .list-nav-menus::-webkit-scrollbar {
    width: 0.2em;
}

#painel-controller .list-nav-menus::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    display: none;
}

#painel-controller .list-nav-menus::-webkit-scrollbar-thumb {
    display: none;
}
#painel-controller .list-nav-menus h2{
    margin: 20px 10px;
    border: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #ccc;
    padding-bottom: 12px;
    font-weight: 700;
    color: var( --primaryColorGlobal );
}
#painel-controller .list-nav-menus li{
    cursor: pointer;
    padding: 15px;
    display: flex;
    padding-left: 35px;
}
#painel-controller .list-nav-menus li a{
    color: #252525;
}
#painel-controller .list-nav-menus li:hover{
    background-color: var( --primaryColorGlobal );
    font-weight: bold;
}
#painel-controller .list-nav-menus li:hover a{
    color: white;
}

/* Conteúdo página */
#c-content-page{
    width: 50%;
    overflow-y: auto;
    padding: 20px;
}
#c-content-page::-webkit-scrollbar {
    width: 0.2em;
}

#c-content-page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    display: none;
}

#c-content-page::-webkit-scrollbar-thumb {
    display: none;
}
#c-content-page .img-header-content-page{
    background-size: cover;
    background-position: center;
    margin-top:10px;
    margin-bottom: 30px;
    height: 200px;
}
#c-content-page h1{
    font-size: 2em;
    color: var( --primaryColorGlobal );
}
#c-content-page .code-contain-content{
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 25px;
}
#c-content-page .code-contain-content:hover .c-copy-code-button span{
    visibility: visible;
}
#c-content-page .code-contain-content .c-copy-code-button span{
    display: flex;
    align-items: center;
    justify-content: end;
    visibility: hidden;
    cursor: pointer;
}
#c-content-page .code-contain-content .c-copy-code-button span i{
    margin-right: 12px;
}
#c-content-page .code-contain-content .code-contain .property-name{
    color: blue;
}

/* New Contents */
#c-new-contentes{
    width:30%;
    padding: 15px;
}
#c-new-contentes .c-search-btns{
    height: 10%;
}
#c-new-contentes .c-search-btns i{
    background-color: var( --primaryColorGlobal );
    padding: 8px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    margin: 0px 10px;
}
#c-new-contentes .c-search-btns .search-input{
    box-shadow: 0 0 0.3em #ccc;
    border-radius: 15px;
}
#c-new-contentes .c-search-btns .search-input i{
    background-color: rgba(0,0,0,0);
    color: #252525;
}
#c-new-contentes .c-search-btns .search-input input{
    border: none;
}
#c-new-contentes .c-search-btns .search-input input:focus{
    outline: none;
}
#c-new-contentes .c-new-content-home{
    padding: 12px;
    height: 30%;
    margin: 10% auto;
    box-shadow: 0 0 0.1em #252525;
    width: 85%;
    border-radius: 13px;
    overflow-y: auto;
}
#c-new-contentes .c-new-content-home::-webkit-scrollbar {
    width: 0.2em;
}

#c-new-contentes .c-new-content-home::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    display: none;
}

#c-new-contentes .c-new-content-home::-webkit-scrollbar-thumb {
    display: none;
}
#c-new-contentes .c-new-content-home h4{
    margin: 0px;
    justify-content: space-between;
}
.c-new-content-home .c-info-content{
    border: solid;
    border-width: 0px 0px 1px 0px;
    padding-bottom: 15px;
    border-color: #ccc;
}
.c-new-content-home .c-info-content h5{
    margin-top:20px;
    margin-bottom: 10px;
}
.c-new-content-home .c-info-content .info-new-content{
    justify-content: space-between;
    font-size: 0.9em;
}
.info-new-content .time-posting{
    color: #ccc;
}
.info-new-content .active-type-content{
    color: greenyellow;
    font-weight: bold;
}