@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    align-items: center;
}

.bd-masthead{
    /*background: #74ebd5;
    background: -webkit-linear-gradient(to right, #58AF9C, #acb6e5);
    background: linear-gradient(to right, #58AF9C, #acb6e5);*/
    background: rgb(238,174,202);
    background: linear-gradient(0deg, /*rgba(238,174,202,1)*/ #58af9caf 0%, rgba(148,187,233,0.5) 75%);
}
header{
    box-shadow: 0 0 0.8em #252525;
}
#warning-new-visitor{
    font-weight: bold;
    font-weight: 400;
    font-weight: bolder;
}
#warning-new-visitor #badge-warning{
    background-color: #ffe484;
    padding: 10px;
    border-radius: 12px;
    font-weight: bolder;
    box-shadow: 0 0 0.3em #727272;
    font-size: 0.7em;
}
#i-mail-sign-up{
    background-color: #ECE9ED;
    border-radius: 5px;
    border: solid;
    border-width: 0.1em;
    padding: 10px; 
    color: #252525;
    width: 60%;
}
#i-mail-sign-up::placeholder{
    color: #252525;
}
#link-to-sign-up{
    background-color: #f0c014;
    padding: 13px;
    border-radius: 12px;
    font-weight: bolder;
    box-shadow: 0 0 0.3em #25252598;
    cursor: pointer;
}
#link-to-sign-up:hover{
    background-color: #ffe484;
}