@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body,html{    
    font-family: 'Inter';
    padding: 0px;
    margin: 0;
    background-color: #19BC9D;
}
a{
    text-decoration: none;
}
header{
    background-color: white;
}
header a{
    color: #252525;
}
main{
    height: calc( 100% - 60px );
    display: flex;
    align-items: center;
}
.logo-site-image{
    background-image: url( "../imgs/logo-titulo.jpeg" );
    min-height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}
#c-form-login{
    height: 100%;
    min-width: 500px;
    height: 500px;
    box-shadow: 0 0 0.3em #ccc;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 10px auto;
}
.form-login-site .input-field-form{
    margin: 20px auto;
    width: 75%;
    border-radius: 8px;
    box-shadow: 0 0 0.3em #ccc;
    display: flex;
    flex-direction: row;
}
.form-login-site .input-field-form i{
    background-color: #19BC9D;
    padding: 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-login-site .input-field-form input{
    width: 100%;
    margin-left: 10px;
    border:none;
}
.form-login-site .input-field-form input:focus{
    outline: none;
}
.form-login-site p{
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}
.form-login-site label{
    font-weight: 700;
    color: #252525;
}
.form-login-site label::after{
    content: ' * ';
    color: red;
    font-size: 14px;
}
.form-login-site input{
    width: 100%;
    border-width: 0px 0px 1px 0px
}
.form-login-site .c-button-login{
    text-align: center;
}
.form-login-site .c-button-login button{
    width: 50%;
    background-color: #252525;
    box-shadow: 0 0 0.3em #ccc;
    color: white;
    font-weight: 700;
    padding: 8px;
    border-radius: 8px;
}
.c-register-text{
    text-align: center;
}

/* Classes auxiliares */
.divider-login{
    width: 60%;
    height: 2px;
    background-color: #ccc;
    margin: 25px auto;
}

/* Aux classes */
.empty-input{
    border: solid;
    border-width: 1px;
    border-color: red !important;
}